bin-int/
.vs/
bin/Debug-Win32/QRDUnitTests.dll
bin/Debug-Win32/QRDUnitTests.exp
bin/Debug-Win32/QRDUnitTests.ilk
bin/Debug-Win32/QRDUnitTests.lip
bin/Debug-Win32/QRDUnitTests.pdb
bin/Debug-x64/QRDUnitTests.dll
bin/Debug-x64/QRDUnitTests.exp
bin/Debug-x64/QRDUnitTests.ilk
bin/Debug-x64/QRDUnitTests.lip
bin/Debug-x64/QRDUnitTests.pdb
bin/Release-Win32/QRDUnitTests.dll
bin/Release-Win32/QRDUnitTests.exp
bin/Release-Win32/QRDUnitTests.ilk
bin/Release-Win32/QRDUnitTests.lip
bin/Release-Win32/QRDUnitTests.pdb
bin/Release-x64/QRDUnitTests.dll
bin/Release-x64/QRDUnitTests.exp
bin/Release-x64/QRDUnitTests.ilk
bin/Release-x64/QRDUnitTests.lip
bin/Release-x64/QRDUnitTests.pdb