bin-int/
.vs/
bin/Debug-Win32/QRDUnitTests.dll
bin/Debug-Win32/QRDUnitTests.exp
bin/Debug-Win32/QRDUnitTests.ilk
bin/Debug-Win32/QRDUnitTests.lib
bin/Debug-Win32/QRDUnitTests.pdb
bin/Debug-x64/QRDUnitTests.dll
bin/Debug-x64/QRDUnitTests.exp
bin/Debug-x64/QRDUnitTests.ilk
bin/Debug-x64/QRDUnitTests.lib
bin/Debug-x64/QRDUnitTests.pdb
bin/Release-Win32/QRDUnitTests.dll
bin/Release-Win32/QRDUnitTests.exp
bin/Release-Win32/QRDUnitTests.ilk
bin/Release-Win32/QRDUnitTests.lib
bin/Release-Win32/QRDUnitTests.pdb
bin/Release-x64/QRDUnitTests.dll
bin/Release-x64/QRDUnitTests.exp
bin/Release-x64/QRDUnitTests.ilk
bin/Release-x64/QRDUnitTests.lib
bin/Release-x64/QRDUnitTests.pdb
bin/Debug-Win32/App.exe
bin/Debug-Win32/App.ilk
bin/Debug-Win32/App.pdb
bin/Debug-x64/App.exe
bin/Debug-x64/App.ilk
bin/Debug-x64/App.pdb
bin/Release-Win32/App.exe
bin/Release-Win32/App.ilk
bin/Release-Win32/App.pdb
bin/Release-x64/App.exe
bin/Release-x64/App.ilk
bin/Release-x64/App.pdb